.gradient-button {
    background: linear-gradient(270deg, grey, teal);
    background-size: 200% 100%;
    transition: all 0.4s ease;
    animation: gradient-animation 3s infinite linear;
  }
  
  .gradient-button:hover {
    background-position: 200% 0;
    animation: none;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    25% {
        background-position: 25% 0%;
      }
      50% {
        background-position: 50% 0%;
      }
      75% {
        background-position: 75% 0%;
      }
    100% {
      background-position: 200% 0%;
    }
  }
  
  