
  .gradient-button {
    background: linear-gradient(45deg, #009688 30%, #4db6ac 90%);
    border: 0;
    border-radius: 3px;
    color: white;
    transition: all 0.3s ease; /* Add transition */
  }
  
  /* Add this new rule */
  .gradient-button:hover {
    transform: scale(1.1); /* Scale up the button */
  }
  
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 0%;
    }
    25% {
        background-position: 25% 0%;
      }
      50% {
        background-position: 50% 0%;
      }
      75% {
        background-position: 75% 0%;
      }
    100% {
      background-position: 100% 0%;
    }
  }
  

.angled-button {
    background: linear-gradient(45deg, #009688 30%, #4db6ac 90%);  /* your color */
    color: white;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
    border: none;
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);  /* 45-degree slant */
    transition: all 0.3s ease;
  }
  
  .angled-button:hover {
    background: linear-gradient(45deg, #007766 30%, #006655 90%);  /* your hover color */
  }
  
  
  